@using Microsoft.AspNetCore.Razor.TagHelpers;

<html>

<body class="container">

    <h2>Choose an Option</h2>

    <a class="btn" asp-area="" asp-controller="Orders" asp-action="Create">Place an Order</a><a class="btn" asp-area="" asp-controller="Orders" asp-action="Index">Show Orders</a><a class="btn" asp-area="" asp-controller="Locations" asp-action="Index">Show Locations</a><a class="btn" asp-area="" asp-controller="Customers" asp-action="Index">List of Subscribers</a>

</body>
</html>