@{
    ViewData["Title"] = "Home Page";
}


    <div class="text-center">
        <style>
            body {
                background-image: url('https://s3.envato.com/files/252189502/preview.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 92%;
            }
        </style>

        <h1> <font color="white" class="display-4">Welcome to GameRealm</font></h1>
        <br />
        <p><img id="ActualMedia" class="artPreviewImage" src="https://steamuserimages-a.akamaihd.net/ugc/788609251622529613/DF9D6025504EDC5E155101DC1952D853C60300FD/" width="850"></p>
    </div>

